.kelas-select {
    display: flex;
    align-items: center;
    margin-left: 1000px; 
    margin-top: 20px; 
}

.kelas-select label {
    margin-right: 10px;
    font-size: 20px;
}

.kelas-select select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 20px;
    
}
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kelas-select select:focus {
    border-color: #3f72af;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

